.navbar-root {
  flex-grow: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

.navbar-iconButton {
  color: inherit;
}
